<div id="header">
		<div id="connect">
            {{#if session.nom }}
						Utilisateur : <b>{{session.nom}}  </b><a href="/deconnect">Déconnexion</a>		</div>
            {{else}}
                        <a href="/deconnect">Connexion</a></div>
            {{/if}}
					<div id="entete">
					<div id="logo">
						<img src="/image/smile.jpg" id= "imLogo" alt="Logo bêtisier IUT" title="Logo bêtisier IUT Limousin" />
					</div>
			
		
			
			<div id="titre"> Le bêtisier de l'IUT.<br />Partagez les meilleures perles !!! </div>
		</div>
</div>		


