<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/js/cartes.js"></script>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <script>
$(document).ready(function(){
    $("img").each(function(i){
        if($(this).attr('id')==='img_centre'){
            
        }else{
            var name = 'img_zoom_image';
            $("body").append("<div id='"+name+i+"' style='position:absolute; visibility:hidden; left:-286px; top:0px; z-index:1000;'><figure><img class='img_zoom_image' src='"+$(this).attr('src')+"'  /><figcaption>"+$(this).attr('title')+"</figcaption></figure></div>");

            var my_tooltip = $("#"+name+i);

            $(this).mouseover(function(){
                    my_tooltip.css({opacity:1, display:"none", visibility:"visible"}).fadeIn(0);
            }).mousemove(function(kmouse){
                    my_tooltip.css({left:kmouse.pageX+15, top:kmouse.pageY+15});
            }).mouseout(function(){
                    my_tooltip.fadeOut(0);
            });
        }
	}); 
    
});

    </script>
    <style> 
table {
    border : 1px solid black;
}
td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}


img{
    border: 1px solid black;
    zoom : 40%;
}

.img_zoom_image{
    height: 150%;
    width: 150%;
}

    
figure{
    font-size: 150%;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
}
</style>
    
    
	<title>Board</title>
</head>
	<body>
	{{{body}}}
	 </body>
</html>
