<!DOCTYPE html >

<html lang="fr">

<head>
<meta  charset="UTF-8" />
<title> {{title}}</title>
<link rel="icon" type="image/png" href="/image/favicon.ico" />
<link rel="stylesheet" href="/css/stylesheet.css" />

</head>
	<body>
	{{{body}}}
	</div>
</div>
<div id="spacer"></div>

<div id="footer">
    
    © AKPA Germain - AMBROISE Corentin - DOUCET QUENTIN - LATHIERE Jonathan

</div>
</body>
</html>