img{
    border: 1px solid black;
    zoom : 40%;

}
#JetonBleu{
    position: absolute;
    top:20%;
    left: 20%;
    margin-left: 20%;
    z-index:1000; 
    border : none;
    height:30px;
    width:30px;
    
}
#JetonVert{
    position: absolute;
    top:40%;
    left: 20%;
    margin-left: 20%;
    z-index:1000; 
    border : none;
    height:30px;
    width:30px;
    
}
#JetonRouge{
    position: absolute;
    top:60%;
    left: 20%;
    margin-left: 20%;
    z-index:1000; 
    border : none;
    height:30px;
    width:30px;
    
}
#JetonJaune{
    position: absolute;
    top:80%;
    left: 20%;
    margin-left: 20%;
    z-index:1000; 
    border : none;
    height:30px;
    width:30px;
    
}



#de1{
    visibility: visible;
}


.img_zoom_image{
    zoom : 125%;
}

    
figcaption{
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 3px;
    font-weight: bold;
}

td,tr,table{
    border: 1px solid black;
}

td {
    position: relative;
}