img{
    border: 1px solid black;
    zoom : 40%;
}

.img_zoom_image{
    zoom : 125%;
}

    
figcaption{
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 3px;
    font-weight: bold;
}

td,tr,table{
    border: 1px solid black;
}

td {
    position: relative;
}