<div id="tableau" class="col-lg-6 ">
            <table>
                <tr>
                    <td id="20"><img src="/images/parkingGratuit.png" title="Parking gratuit"/></td>
                    <td id="21"><img src="/images/rouge1.jpg" title="Avenue Henri-Martin"/></td>
                    <td id="22"><img src="/images/chanceHaute.jpg" title="Chance"  /></td>
                    <td id="23"><img src="/images/rouge2.jpg" title="Boulevard Malesherbes"/></td>
                    <td id="24"><img src="/images/rouge3.jpg" title="Avenue Matignon"/></td>
                    <td id="25"><img src="/images/GareHaut.png" title="Gare du Nord"/></td>
                    <td id="26"><img src="/images/jaune3.jpg" title="Faubourg St Honoré"/></td>
                    <td id="27"><img src="/images/jaune2.jpg"title="Place de la bourse"/></td>
                    <td id="28"><img src="/images/water.jpg" title="Distribution des eaux"/></td>
                    <td id="29"><img src="/images/jaune1.jpg" title="Rue la fayette"/></td>
                    <td id="30"><img src="/images/gotoJail.jpg" title="Allez en prison"/></td>
                </tr>
                <tr>
                    <td id="19"><img src="/images/Orange1.png" title="Place Pigale"/></td>
                    <td colspan="9" rowspan="9"><img id="img_centre" src="images/centre.PNG" height="99%" width="99%"/></td>
                    <td id="31"><img src="/images/vert3.jpg" title="Avenue de Breteuil"/></td>
                </tr>
                <tr>
                    <td id="18"><img src="/images/Orange2.png" title="Boulevard St Michel"/></td>
                    <td id="32"><img src="/images/vert2.jpg" title="Avenue de Foch"/></td>
                </tr>
                <tr>
                    <td id="17"><img src="/images/Communaute.png" title="Caisse de communauté"/></td>
                    <td id="33"><img src="/images/CommunauteDroite.png" title="Caisse de communauté"/></td>
                </tr>
                <tr>
                    <td id="16"><img src="/images/Orange3.png" title="Avenue Mozart"/></td>
                    <td id="34"><img src="images/vert1.jpg" title="Boulevard des capucines"/></td>
                </tr>
                <tr>
                    <td id="15"><img src="/images/Gare.png" title="Gare de Lyon"/></td>
                    <td id="35"><img src="images/GareDroite.png" title="Gare St Lazare"/></td>
                </tr>
                <tr>
                    <td id="14"><img src="/images/Rose1.png" title="Rue de paradis"/></td>
                    <td id="36"><img src="/images/chanceDroite.png" title="Chance"/></td>
                </tr>
                <tr>
                    <td id="13"><img src="/images/Rose2.png" title="Avenue de Neuilly"/></td>
                    <td id="37"><img src="/images/bleufonc2.PNG" title="Avenue des Champs Elysées"/></td>
                </tr>
                <tr>
                    <td id="12"><img src="/images/electric.png" title="Distribution d'électricité"/></td>
                    <td id="38"><img src="/images/taxe2.PNG" title="Taxe de luxe"/></td>
                </tr>
                <tr>
                    <td id="11"><img src="/images/Rose3.png" title="Boulevard de la villette"/></td>
                    <td id="39"><img src="/images/bleufonc1.jpg" title="Rue de la paix"/></td>
                </tr>
                <tr>
                    <td id="10"><img src="/images/prison.png" title="Prison"/></td>
                    <td id="9"><img src="/images/bleuclair1.jpg" title="Avenue de la république"/></td>
                    <td id="8"><img src="/images/bleuclair2.jpg" title="Rue des courcelles"/></td>
                    <td id="7"><img src="/images/chance.jpg" title="Chance"/></td>
                    <td id="6"><img src="/images/bleuclair3.jpg" title="Rue de Vaugirard"/></td>
                    <td id="5"><img src="/images/GareBas.png" title="Gare MontParnasse"/></td>
                    <td id="4"><img src="/images/taxe1.jpg" title="Impôt sur le revenu"/></td>
                    <td id="3"><img src="/images/violet1.jpg" title="Rue Lecourbe"/></td>
                    <td id="2"><img src="/images/CommunauteBas.png" title="Caisse de communauté"/></td>
                    <td id="1"><img src="/images/violet2.jpg" title="Boulevard de Belleville"/></td>
                    <td id="0" style="position: relative;">
                        <img src="/images/depart.jpg" title="Départ"/>
                        <img style="position: absolute; top:10px; left:150px; z-index:1000; border : none;" height="20px" width="20px" id="JetonVert" src="/images/JetonVert.png" title="Jeton Vert"/>
                        <img style="position: absolute; top:50px; left:150px; z-index:1000; border : none;" height="20px" width="20px" id="JetonRouge" src="/images/JetonRouge.png" title="Jeton Rouge"/>
                    <img style="position: absolute; top:90px; left:150px; z-index:1000; border : none;" height="20px" width="20px" id="JetonJaune" src="/images/JetonJaune.png" title="Jeton Jaune"/>
                        <img style="position: absolute; top:130px; left:150px; z-index:1000; border : none;" height="20px" width="20px" id="JetonBleu" src="/images/JetonBleu.png" title="Jeton Bleu"/>
                    </td>
                </tr>
            </table>
        </div>
<div class="col-lg-6">
    <button onclick="lancer()">Lancé les dés</button>
</div>
